.todo__switch-theme-button {
    display: flex;
    height: var(--input-height);
    align-items: center;
    border: 1px solid var(--color-purple);
    border-radius: 5px;
    color: var(--color-white);
    background-color: var(--color-purple);

    &:hover {
        color: var(--color-purple);
        background-color: transparent;
    }
}

.is-dark-theme {
    color: var(--color-white);
    &:not(svg) {
        background-color: var(--color-black);
    }

}