.todo {
    width: 100%;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.todo__title {
    font-size: 32px;
    font-weight: 500;
    text-align: center;
}

.todo__form {
    display: flex;
    align-items: center;
    column-gap: 15px;
}
