.todo__filter-select {
    width: 115px;
    height: var(--input-height);
    padding-inline: 5px;
    color: var(--color-white);
    border: 1px solid var(--color-purple);
    border-radius: 5px;
    background-color: var(--color-purple);
    outline: none;
}

.filter-select__choice {
    color: var(--color-purple);
    background-color: var(--color-white);
}
