.modal {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    display: none;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);

}

.modal--open {
    display: flex;
}

.modal__content {
    max-width: 500px;
    width: 100%;
    padding: 32px;
    border-radius: 12px;
    background-color: var(--color-white);
}

.modal__title {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 600;
}

.modal__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal__field {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.modal__input {
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid var(--color-purple);

    &:focus {
        outline: none;
    }
}

.modal__actions {
    display: flex;
    margin-top: 8px;
    gap: 12px;
    justify-content: space-between;
}

.modal__button {
    padding: 12px 24px;
    cursor: pointer;
    font-weight: 500;
    border-radius: 8px;
}

.modal__button--cancel {
    color: var(--color-purple);
    border: 1px solid var(--color-purple);

    &:hover {
        color: var(--color-purple);
        background-color: transparent;
    }
}

.modal__button--confirm {
    color: var(--color-white);
    border: 1px solid var(--color-purple);
    background-color: var(--color-purple);

    &:hover {
        color: var(--color-purple);
        background-color: transparent;
    }
}